html, body {
    /* background-color: #ffeead; */
    margin: 10px;
}
.container {
    display: grid;
    grid-gap: 5px;
    /* grid-template-columns: 1fr; */
    grid-template-columns: repeat(1, minmax(150px, 1fr));
    /* grid-template-columns: minmax(150, 1fr); */
    grid-template-rows: repeat(5, 1fr); 
    grid-auto-rows: 1fr;
}

.back-button {
    position: absolute;
    display: fixed;
    top: 40px;
    left: 40px;
    color: red;
    font-family: 'shanghairegular';
    -webkit-text-stroke: 1px white;
    font-size: 2rem;
  }

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}
 
.span-all-columns {
  grid-column: 1 / -1;
}

/* Need to figure out how to make this bigger */
.span-two-rows {
    grid-row: span 2;
}
 
/* .container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.container > div.sub-grid {
    /* grid-column: 1/-1; */
    display: grid;
    grid-gap: 12px;
    /* grid-template-columns: repeat(4, 25vw); */
    /* grid-template-columns: repeat(auto-fit, minmax(100px,1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    /* grid-auto-rows: minmax(150px,200px); */
    grid-auto-rows: 150px;
    grid-auto-flow: dense;
}

/* food image divs */
.container > .sub-grid > div {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
    background-color: grey;
}
 /* food images */
.container > .sub-grid > div > img {
    max-height: 100%;
    min-width: 100%;
    min-height: 0;
    object-fit: cover;
}

.sub-grid > div > img:hover {
    opacity: .4;
    /* grid-column: 1/-1; */
}

/*  For text when food pics are clicked */
.food-text {

    color: white;
    background-color: none;
    position: absolute;
    top: 0;

    /* color: white;
    background-color: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
 
.horizontal {
    grid-column: span 2;
}

.vertical {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}

/* For now set the food div to invisible */

#thai-pics-div {
    /* visibility: hidden; */
    display: none;
}

/* The div with class container holding the categories */

#category-container {
    /* color: white; */
    height: 90vh;
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* All the categories' shared styles - Thai, Hiabchi, etc */

.container > .category-div {
    /* background-color: red; */
    color: white;
    grid-column: 1 /-1;
    font-size: 4rem;
    border-radius: 10px;
    /* border: 5px solid ;  */
}

/* Category bg pics */

.container > .category-div {
    background-image: url('../img/food/rice.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

@media screen and (max-width: 550px) {
    
.container > .category-div {
      font-size: 8vw;
    }

}

@font-face {
    font-family: 'shanghairegular';
    src: url('../fonts/shanghai-webfont.woff2') format('woff2'),
         url('../fonts/shanghai-webfont.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
  
  }